body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.container{
    flex: 1;
}

/* NavBar */
.navbar{
    height: 5rem;
    background-color: white;
    
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #000000 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-socials,.f-info-brand{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.f-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.footer{
  position: relative;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}


/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;    
}
.card-img-top{
    border-radius: 1rem;
    width:  100%;
    
}
.card-body{
    padding: 0;
}
 .listing-link{
    text-decoration: none;
 }

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background-color: white;
    opacity: 0.3;
}

/* Show Page */

.show-img{
    height: 60vh;
    
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* edit ejs */
.edit-image{
    height: 400px;
    width: 400px;
}
 
/* Reviews */
.reviews-show{
    width: 700px;
    margin-top: 3px;
}
.text-comment{
    width: 700px;
}
/* responsive of nave bar */
@media (max-width:400px){
    .profile-info{
        height: 560px;
        width: 100%;
        margin-top: 9px;
        background-color: white;
        display: flex;
        flex-direction: column;
        
    }
   .nav-link{
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: 1px 1px 1px #fe424d;
        opacity: .8;
    }
    .nav-link:active{
        border: 2px solid black;
        box-shadow: 5px 3px 8px #fe424d;
        opacity: 1;
    }
    .search-btn{
        height: 40px;
        width: 100px;
      background-color: #fe424d;
      color: white;
      border-radius: 10px !important;
      padding: none !important;
      position: relative !important;
  }
  .search-btn:hover{
    background-color: #fe424d;
      color: white;
  }
  .search-btn i{
    display: none !important;
    
  }
  .search-inp{
    height: 40px;
    width: 200px;
    border-radius: 10px !important;
    position: relative !important;
   
  }
  .navbar-brand .icon-main{
    display: none !important;
  }
  .nav-search-btn{
       height: 40px ;
       width: 300px ;
  }
  #filters{
    height: 20px;
   
  }
  .filter{ 
    height: 40px;
    display: flex;
    overflow-x: auto;
   }
}
/* responsive for show of airbnb your home */

@media (max-width:400px){
    .show-img{
        height: 200px;
        width: 300px;
    }
    .row{
        margin-left: -60px !important;
    }
    .card-body{
        width: 300px;
    }
    .btns .btn{
        width: 100px;
    }
    .new-listing{
        width: 300px;
    }
}

/* edit image */

@media(max-width:400px){
    .edit-image{
        height: 200px;
        width: 300px;
    }
}

/* index page */

@media(max-width:400px){
    .card-info{
        margin-left: 50px;
    }
}

/* Reviews */

@media(max-width:400px){
    .reviews-show{
      
        width: 100%;
        display: inline;
        margin-left: 10px;
        margin-top: 3px;
    }
    .text-comment{
        width: 100%;
    }
}
@media(max-width:855px){
    .text-comment{
        width: 100%;
    }
}